.navbar {
    background-color: var(--navbar);
    display: flex;
    justify-content: space-between;
  }

  .navBtnCont {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navBtn {
    padding: 0 3em;
    list-style: none;
  }

  .navBtnLink {
    font-family: 'Inspiration', cursive;
    text-decoration: none;
    list-style: none;
    color: var(--light);
    font-size: 4rem;
    letter-spacing: 5px;
    background-image: linear-gradient(270deg, var(--navbar-highlight) 0%, var(--navbar-highlight) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    padding: 0.2em;
  }

  .navBtnLink:hover {
    background-size: 100% 100%;
    color: var(--darkest);
    font-weight: bold;
  }

  /* .hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  @media screen and (max-width: 1175px) {
    .navBtnCont {
        flex-wrap: wrap;
    }
 
  }
    
   */